<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <form action="/search" method="get">
      <div class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" id="searchName" name="searchName" class="form-control" placeholder="Search Contacts">
        </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </form>
    <br>
    <div class="container">
      <form action="/create_contact" method="post">
        <h1>Create Your Contact List!</h1>
          <div class="form-group">
            <label for="name">Enter Name</label>
            <input class="form-control" type="text" name="name" required>
          </div>
          <div class="form-group">
            <label for="phone">Enter Phone</label>
            <input class="form-control" type="number" name="phone" required>
          </div>
          <div class="form-group">
            <label for="email">Enter Email</label>
            <input class="form-control" type="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="street">Enter Street</label>
            <input class="form-control" type="text" name="street" required>
          </div>
          <div class="form-group">
            <label for="city">Enter City</label>
            <input class="form-control" type="text" name="city" required>
          </div>
          <div class="form-group">
            <label for="state">Enter State</label>
            <input class="form-control" type="text" name="state" required>
          </div>
          <div class="form-group">
            <label for="zip">Enter Zip</label>
            <input class="form-control" type="number" name="zip" required>
          </div>
          <div class="form-group">
            <label for="image">Enter Image (url)</label>
            <input class="form-control" type="text" name="image">
          </div>
          <button type="submit" name="button">Add!</button>
      </form>
      <h1>List of Contacts:</h1>
      <br>
          {% for contact in contacts %}
              <h4>{{ contact.getName }}</h4>
              <img src="{{ contact.getImage }}" alt="image of {{ contact.getName }}" />
              <ul>
                <li>{{ contact.getPhone }}</li>
                <li>{{ contact.getEmail }}</li>
                <li>{{ contact.getStreet }}</li>
                <li>{{ contact.getCity }},</li>
                <li>{{ contact.getState }}</li>
                <li>{{ contact.getZip }}</li>
              </ul>
              <form class="{{ contact.getName }}" action="/edit" method="post">
                <button type="submit" name="{{ contact.getName }}">Edit Contact</button>
              </form>
          {% endfor %}
      <br>
      <br>
      <br>
      <form action="/delete_contacts" method="post">
        <button type="submit" name="button">Delete All</button>
      </form>
      <br>
      <br>
    </div>
  </body>
</html>
