<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">
      <h1>Your Search Results!</h1>
          <h4>{{ contact.getName }}</h4>
          <img src="{{ contact.getImage }}" alt="image of {{ contact.getName }}" />
          <ul>
            <li>{{ contact.getPhone }}</li>
            <li>{{ contact.getEmail }}</li>
            <li>{{ contact.getStreet }}</li>
            <li>{{ contact.getCity }},</li>
            <li>{{ contact.getState }}</li>
            <li>{{ contact.getZip }}</li>
          </ul>
          <br>
          <br>
          <p>Back to <a href="/">HOME</a>!</p>
    </div>
  </body>
</html>
